.root {
    -color-primary: #3788A6;
    -color-secondary: #AED1DD;
    -color-error: #ff1e00;
    -color-success: #8BC34A;
    -color-info: #2196F3;
    -color-warning: #FFC107;
    -color-clear: rgba(0, 0, 0, 0);
    -color-disable: #575757;
    -color-background: #1E1E1E;
    -color-text: #E0E0E0;
    -color-card: #2C2C2C;
}

.background {
    -fx-background-color: -color-background;
}

.debug {
    -fx-border-color: -color-warning;
}

.h1 {
    -fx-text-fill: -color-text;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 4em;
}

.h2 {
    -fx-text-fill: -color-text;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 3em;
}

.h3 {
    -fx-text-fill: -color-text;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 2em;
}

.h4 {
    -fx-text-fill: -color-text;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}

.h5 {
    -fx-text-fill: -color-text;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 1em;
}

.h5-thin {
    -fx-text-fill: -color-text;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: normal;
    -fx-font-size: 1em;
}

.container {
    -fx-spacing: 1em;
    -fx-padding: 1em;
}

.text-field {
    -fx-background-color: -color-card;
    -fx-border-color: -color-text;
    -fx-text-fill: -color-text;
    -fx-font-weight: bold;
    -fx-background-radius: 0.5em;
    -fx-border-radius: 0.5em;
    -fx-margin: 0.5em 0;
}
.text-field:hover {
    -fx-border-color: -color-primary;
    -fx-text-fill: -color-primary;
}
.text-field.error {
    -fx-border-color: -color-error;
    -fx-prompt-text-fill: -color-error;
}

.btn {
    -fx-background-color: -color-primary;
    -fx-text-fill: -color-card;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
    -fx-background-radius: 0.5em;
    -fx-border-radius: 0.5em;
}

.btn:hover {
    -fx-background-color: -color-secondary;
    -fx-text-fill: -color-card;
}

.btn-icon {
    -fx-background-color: -color-clear;
    -fx-border-color: -color-clear;
    -fx-opacity: 0.5;
}

.btn-icon:hover {
    -fx-opacity: 1;
}

.sidebar {
    -fx-background-color: -color-primary;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.3), 0.7em, 0, 0, 0);
}

.sidebar .button {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: -color-clear;
    -fx-text-fill: white;
    -fx-border-color: -color-clear;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-max-width: infinity;
    -fx-opacity: 0.5;
}

.sidebar .button:hover {
    -fx-opacity: 1;
}

.sidebar .button.button-active {
    -fx-opacity: 1;
}

.form {
    -fx-background-color: -color-card;
    -fx-padding: 1em;
    -fx-border-radius: 1em;
    -fx-background-radius: 1em;
    -fx-max-width: 25em;
    -fx-max-height: 20em;
    -fx-alignment: center;
}

.form .container .button {
    -fx-background-color: -color-primary;
    -fx-text-fill: -color-card;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
    -fx-background-radius: 0.5em;
    -fx-border-radius: 0.5em;
    -fx-pref-width: 20em;
}

.form .container .button:hover {
    -fx-background-color: -color-secondary;
    -fx-text-fill: -color-card;
}

.card {
    -fx-background-color: -color-card;
    -fx-padding: 2em;
    -fx-spacing: 1em;
    -fx-border-radius: 1em;
    -fx-background-radius: 1em;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

.card-btn {
    -fx-background-color: -color-card;
    -fx-padding: 2em;
    -fx-spacing: 1em;
    -fx-border-radius: 1em;
    -fx-background-radius: 1em;
    -fx-max-width: infinity;
    -fx-max-height: 20em;
}

.card-btn:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.1), 0.7em, 0, 0, 0);
}
